#
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.ipynb_checkpoints/Maya socket client Get Info-checkpoint.ipynb
.ipynb_checkpoints/Maya socket client Set Info-checkpoint.ipynb

.vscode/

#
dataset/

#
test.ipynb

#
.idea/

#
__pycache__/
SocialAffordance/__pycache__/
SocialAffordance/FBXData/
.idea/workspace.xml
SocialAffordance/__pycache__/DataAPI.cpython-37.pyc
